<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <angucomplete id="ex1"
                    placeholder="Search items"
                    pause="100"
                    selectedobject="seletedItem"
                    titlefield: ""
                    localdata="items"
                    minlength="1"
                    inputclass="form-control form-control-large"/>
            </div>
        </div>
    </div>
    {{selectedItem}}
</div>